{# _project-manager/templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
</head>
<body>
    <div class="ui fixed menu">
        <div class="ui container">
        <a href="#" class="header item">
            Project Manager
        </a>
        <a href="#" class="item">Home</a>
        <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            
            </div>
        </div>
        </div>
    </div>
    <div class="ui main text container" style="margin-top: 112px">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>